@import url(font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url(img/disney/unnamed-enhanced.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

 /*  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(#2C2F42,#161824);
  height: 100vh; */
.logo img{
    height: 40px;
    margin-right: 30px;
}
a { 
    text-decoration: none;
}
.name-tag {
    margin-left: 10px;
  }
/*COLOR ICONS */
  .header svg {
    fill: white;
}
.options-overlay a span svg {
    width: 20px !important;
    height: 20px !important;
}
.header {
    display: flex;
    padding: 20px 35px;
    align-items: center;
    font-weight: 400;
    background: black;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-links li {
    list-style: none;
}
  .nav-links {
    flex-grow: 1;
    overflow: hidden;
}
.nav-links ul {
    display: flex;
    white-space: nowrap;
}
.nav-links ul li {
    margin-right: 30px;
}
  .nav-links a {
    display: inline-block;
    position: relative;
}
.nav-links ul li a {
    font-size: 12px;
    margin-right: 10px;
    display: flex;
    color: white;
    align-items: center;
    letter-spacing: 1px;
}

.accort-links{
    display: grid;
}
.nav-links p:after {
    bottom: -5px;
    content: "";
    display: block;
    border-radius: 10px;
    height: 2px;
    left: 0;
    position: relative;
    background: #fff;
    transition: 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
    opacity: 0;
  }
.nav-links a:hover p:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
.acort-links {
    display: none;
    font-size: 12px;
    padding: 10px 15px;
    border: 1px solid rgb(82, 82, 82);
    background-color: #131313;
}
.acort-links a {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.acort-menu:hover .acort-links {
    position: fixed;
    z-index: 1;
    display: block;
    background: #131313;
}
.acort-name {
    margin-left: 10px;
}

@media screen and (min-width: 300px) {
    .name-tag {
      display: none;
    }
    .hidden-p {
      display: none;
    }
    .acort-links {
      display: none;
    }
    .nav-links ul li {
      margin-right: 0px;
    }
    .acort-menu {
      display: initial;
    }
    .name-user {
      display: none;
    }
    .img-user {
      width: 35px !important;
      height: 35px !important;
    }
}
@media screen and (min-width: 1224px) {
    .name-user {
      display: inline;
    }
    .name-tag {
      display: inline;
    }
    .hidden-p {
      display: inline;
    }
    .nav-links ul li {
      margin-right: 30px;
    }
    .acort-menu {
      display: none;
    }
    .img-user {
      width: 40px !important;
      height: 40px !important;
    }
}

.profile {
  position: fixed;
  display: inline-flex;
  right: 0;
  margin: 0;
  height: 0%;
  transition: height 0.4s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.profile:hover {
  display: inline-block;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 10px;

}

.profile-selected {
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-selected .avatar {
  margin: 20px;
}
.profile:hover p {
  display: inline;
}
.profile p {
  color: white;
}
.profile:hover {
  top: 0;
  right: 0;
  width: 200px;
  border-right: 1px solid rgb(82, 82, 82);
  border-left: 1px solid rgb(82, 82, 82);
  border-bottom: 1px solid rgb(82, 82, 82);
  background: #131313;
  height: auto;
  animation-name: viewprofiles;
  animation-duration: 0.3s;
}

@keyframes viewprofiles {
  0% {
    top: -50px;
    opacity: 0%;
  }
  50% {
    opacity: 55%;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}

.profile:hover .profile-selected {
  border-bottom: 1px solid rgb(82, 82, 82);
}
.profile-nav {
  display: none;
  margin-right: 30px;
}
.profile:hover .profile-nav {
  display: block;
}
.profile-nav-profiles p {
  color: white;
  margin-left: 5px;
  font-size: 14px;
}
.header li {
  list-style: none;
  display: flex;
  align-items: center;
}
.profile-nav-profiles li {
  display: flex;
  align-items: center;
}
.profile-nav-profiles img {
  margin-top: 15px;
  margin-left: 15px;
}
.profile-nav-options li {
  margin: 15px;
}
.profile-nav-options a {
  color: white;
}
.plus-perfil {
  margin-top: 15px;
  margin-left: 15px;
  padding: 12px;
  border-radius: 50px;
  background: rgb(82, 82, 82);
}
.plus-perfil svg {
  display: block;
  margin: auto;
  justify-content: center;
}
.plus-perfil:hover {
  background: rgb(102, 102, 102);
}

.responsive .slick-prev {
  left: -200px;
  z-index: 1;
  padding: 60px 200px 60px 20px;
  border: 1px solid red;
  opacity: 0;
}
.responsive .slick-next {
  right: -200px;
  z-index: 1;
  padding: 60px 200px 60px 20px;
  border: 1px solid red;
  opacity: 0;
}

/* Slick Center */
.cl img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: rgb(0 0 0) 0px 16px 10px -10px;
  margin: 500px 0 0 0;
}

.cl {
  padding: 5px;
  position: relative;
}
@media (min-width: 768px) {
  .cl {
    padding: 10px;
  }
}
/* Dots Slider */
.slick-dots li button:before {
  color: #969eab;
  left: 0;
  top: 0;
  opacity: 1;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  color: #f9f9f9;
}
.slick-dots {
  display: block;
  list-style: none;
  position: absolute;
  text-align: center;
  bottom: 0px;
  margin: 0;
  padding: 20px;
  right: 8px;
  width: 100%;
}

.slick-slide[aria-hidden=true]  .card:before{
    content: "";
    background: linear-gradient(#1b1d24,#1e1f2a) 0 0/cover;
    width: 100%;
    display: block;
    position: absolute;
    opacity: .5;
    border-radius: 4px;
    z-index: 2;
  }

  /*DISNEY */
  .container-disney {
    margin: 0 auto;
    padding: 0 30px;
  }
  .main {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (min-width: 1300px){
    .disney-rows {
      max-width: 1600px;
      margin: 0 auto;
    }
  }
  .disney-rows {
      margin: 0 auto;
      padding: 0 20px;
  }
  
  .grid {
    display: grid;
    grid-row-gap: 15px;
    padding-bottom: 10px;
  }
  .card-disney {
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(to bottom, #3a3c4a, #242632);
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
      rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  }
  
  .item-border {
    position: relative;
    border-radius: 10px;
    transition: transform 250ms ease-in-out, border 250ms ease-in-out,
      box-shadow 250ms ease-in-out;
  }
  .item-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
  }
  .item-image.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: 300ms;
    visibility: hidden;
  }
  .card-disney:hover .item-border {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
      rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
    transform: scale(1.05);
    border: 4px solid rgba(249, 249, 249, 0.8);
  }
  
  .card-disney:hover .item-image.hover-image {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 1;
    visibility: visible;
  }
  
  @media screen and (min-width: 300px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 15px;
    }
    .films {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 15px;
    }
    .item-border {
      border: 2px solid rgba(249, 249, 249, 0.1);
    }
  }
  @media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 15px;
    }
    .item-border {
      border: 4px solid rgba(249, 249, 249, 0.1);
    }
  }
  @media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 15px;
    }
  }

  .slick-list {
    overflow: inherit;
  }
  .main {
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: 1300px) {
    .main {
      max-width: 1600px;
    }
  }
  .container-general {
    margin-top: 20px;
    overflow: hidden;
  }
  @media (min-width: 1300px) {
    .movies-rows {
      max-width: 1600px;
      margin: 0 auto;
    }
  }
  .movies-rows {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .list-title {
    color: rgb(3, 3, 3);
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .slider h3 {
    border-radius: 5px;
    position: relative;
    text-align: center;
  }
  .slider div img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  
  }
  .card {
    border-radius: 5px;
    display: flex !important;
    position: relative;
    box-shadow: rgb(0 0 0) 0px 16px 10px -10px;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }
  .card::before {
    border-radius: 5px;
    border: 4px solid rgba(255, 255, 255, 0);
    inset: 0px;
    content: "";
    position: absolute;
    transition: border 300ms ease-out 0s;
    z-index: 1;
  }
  .card:hover::before {
    border: 4px solid rgba(249, 249, 249, 0.8);
  }
  .card:hover,
  .card img:hover {
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    box-shadow: rgb(0 0 0 / 90%) 0px 30px 20px -10px;
  }

  .responsive div {
    margin-right: 10px;
  }
  @media (min-width: 300px) {
    .list-title {
      font-size: 15px;
      font-weight: 500;
    }
  }
  @media (min-width: 768px) {
    .list-title {
      font-size: 20px;
      font-weight: 500;
    }
  } 


/*Footer*/
/*@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.footer {
    background-color:#161824;  
    margin: 100px 0 0 0;
    padding: 80px;
 
  }

.group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.group-1 .box figure {
  width: 100%;
  height: 100%;
}

.group-1 .box figure img {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.group-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;

}

.group-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  
}


.group-2 {
  color: #efefef;
}
*/
footer {
  background-color: #181818;
  color: #fff;
  padding: 20px;
  margin-top: 40px;

}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links, .footer-social {
  display: flex;
  flex-wrap: wrap; /* Permite que los enlaces se ajusten */
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-info {
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-links, .footer-social {
      flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
      align-items: center; /* Centra los elementos */
  }
}